@{
    ViewBag.Title = "Библиотека";
}

@model IQueryable<Book>

<div class="container-fluid" style="max-width: 900px;">

    <h3 class="text-center text-primary">Библиотека</h3>

    <div id="content"></div>  @*React*@
    <script src="js/books.jsx"></script>

    <div class="text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Добавить книгу
        </button>
    </div>

</div>
